<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- v4 -->
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/tesseract.min.js'></script>  
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <h1>Image to PDF</h1>
    <hr>
    <form action ="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <select name="language">
            <option value="eng">English</option>
            <option value="hin">Hindi</option>
            <option value="pan">Punjabi</option>
        </select>
        <button type="submit">Convert</button>
       
    </form>
    <div class="display">
        <div id="copy" onclick="copyToClipboard()"> Copy</div>
        <div id="main-text"><%= displayText.message %></div>
        
    </div>
    <button id="down" onclick="location.href='/download'">Download the pdf</button>
    <!-- v4 -->
<script src='https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/tesseract.min.js'></script>
<script src="/js/script.js"></script>
</body>
</html>